<form [formGroup]="createForm" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-12">
            <app-header title="Add Vehicle" [route]="['','admin','vehicle']" icon="list"></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-4">
            <label for="" class="control-label">Vehicle Type</label>
            <select name="" id="" class="form-control" formControlName="vehicleType">
                <option value="">Select Vehicle Type</option>
                <option value="{{v}}" *ngFor="let v of configData.data.vehicleTypes">{{v}}</option>
            </select>
        </div>
        <div class="col-6 mt-4">
            <label for="" class="control-label">Vehicle Brand</label>
            <select name="" id="" class="form-control" formControlName="vehicleBrand">
                <option value="">Select Vehicle Brand</option>
                <option value="{{v}}" *ngFor="let v of configData.data.vehicleBrands">{{v}}</option>
            </select>
        </div>
        <div class="col-6 mt-4">
            <label for="" class="control-label">Transmission Type</label>
            <select name="" id="" class="form-control" formControlName="vehicleTransmission">
                <option value="">Select Transmission Type</option>
                <option value="{{v}}" *ngFor="let v of configData.data.transmissionTypes">{{v}}</option>
            </select>
        </div>
        <div class="col-6 mt-4" formArrayName="availability">
            <label for="" class="control-label">Vehical Availability</label><br>
            <ng-container *ngFor="let day of days;let index=index">
                <input type="checkbox" style="margin-right: 2px" value="{{day}}" [formControlName]="index"
                    (change)="onCheckboxChange($any($event))"
                    >
                <span style="margin-right: 20px;">{{day}}</span>
            </ng-container>

        </div>
        <div class="col-6 mt-4">
            <label for="" class="control-label">Latitude</label>
            <input type="text" class="form-control" formControlName="latitude">
        </div>
        <div class="col-6 mt-4">
            <label for="" class="control-label">Longitude</label>
            <input type="text" class="form-control" formControlName="longitude">
            <input type="checkbox" name="" id="" formControlName="useCurrentLocation"> Use Current Location
        </div>
        <div class="col-12 mt-4" formArrayName="prices">
            <label for="" class="control-label">Pricing Details</label><span class="fa fa-plus btn btn-sm"
                (click)="addNewRow({})"></span>
            <div class="row mt-2" *ngFor="let a of getPrices().controls; let i = index" [formGroupName]="i">
                <div class="col-md-6">
                    <input type="date" class="form-control" formControlName="date" [min]="minDate" [max]="maxDate">
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" formControlName="price">
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <label for="">Upload Images</label>
            <input type="file" class="form-control" (change)="fileSelected($event)">
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary btn-block"> {{isEditMode()?'Update':'Create'}}</button>
        </div>
    </div>
</form>