<div class="row">
    <div class="col-12">
        <app-header title="Vehicle List" [route]="['','admin','vehicle','create']" icon="plus"></app-header>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <app-search (onSearch)="onSearch($event)"></app-search>
    </div>
    <div class="col-md-9 mt-3">
        <div class="row">
            <div class="col-md-6">
                <h2>Available Vehicles</h2>

            </div>
            <div class="col-md-6">
                <button *ngIf="isDriver" class="pull-right" (click)="defaultView='list'">
                    <i class="fa fa-list"></i>
                </button>
                <button class="pull-right" (click)="defaultView='grid'">
                    <i class="fa fa-th"></i>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="vehicles.length>0;else noContent">
            
            <div class="col-md-4" *ngFor="let vec of vehicles">
                <app-single-vehicle *ngIf="defaultView=='grid'" [vehicle]="vec" (vehicleBooked)="vehicleBooked($event)"></app-single-vehicle>
            </div>
            <div class="col-md-12">
                <app-vehicle-table *ngIf="defaultView=='list'" [vehicles]="vehicles"
                    [deleteVehicle]="deleteVehicle.bind(this)"></app-vehicle-table>
            </div>
        </div>
        <ng-template #noContent>
            <div class="row alert alert-danger">
                <div class="col-md-12">No Vehicles found according to your Preferences.</div>
            </div>
        </ng-template>

    </div>
</div>