<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img [src]="vehicle.images![0]" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{vehicle.vehicleBrand}} </h2>
      <!-- <span class="text-muted">{{vehicle.vehicleTransmission}}</span> -->
      <p class="card-text text-justify" style="text-align: justify">{{truncate(vehicle.description)}}</p>
      <button class="btn btn-success "><span class="fa fa-dollar"></span> {{vehicle.todaysRate}}/Hrs</button>
      <a href="#!" class="btn btn-primary pull-right">Book Now</a>
    </div>
  </div>